@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Grand+Hotel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image: url(../images/bg.png);
  background-size: 100% 100%;
  position: relative;
}
.nav {
}

.container {
  width: 85%;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.logo {
  width: 9%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav .header-ul .header-li {
  list-style: none;
  display: inline;
  font-size: 20px;
  position: relative;
}
.nav .header-ul .header-li::after{
content: "";
position: absolute;
line-height: 3px;
width: 100%;
background-color: aqua;
}
.fa-bars{
  color: #fff;
}
.bar {
  display: none;
  color: #fff;
  font-size: 30px;
}
.nav .header-ul .header-li a {
  text-decoration: none;
  padding: 20px;
  list-style: none;
  color: #fff;
  display: inline;
  font-size: 30px;
  text-transform: capitalize;
}
.header-contain {
  color: #fff;
}
.header-contain .header-h1 {
  /* font-size: 91px; */
  font-size: clamp(20px,5.5vw,91px);
  margin: 20px;
  width: 40%;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
}
.header-contain .header-p {
  width: 35%;
  margin: 20px;
  /* font-size: 32px; */
  font-size: clamp(20px,2.5vw,32px);
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
}
.header-contain .header-btn {
  width: 322px;
  padding: 10px;
  border-radius: 32px;
  background-color: #f64b3c;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin: 20px;
  margin-bottom: 20%;
}

.sec1 {
  background-color: #f6eedf;
  padding-bottom: 9%;
  position: relative;
}
.sec1::after {
  position: absolute;
  top: 0;
  left: 0;
  content: url(./images/Design\\(4\).png);
}
.sec1-contain {
  color: #ff1500;
  text-align: center;
  padding: 50px;
}
.sec1-contain .sec1-h1 {
  /* font-size: 64px; */
  font-size: clamp(20px,7.5vw,64px);
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  padding: 30px 0;
}
.sec1-contain .sec1-p {
  width: 42%;
  margin: 0 auto;
  font-size: 25px;
  font-size: clamp(15px,5.5vw,25px);
  color: #f64b3c;
  font-weight: 400;
  font-family: "Montserrat";
}
.sec1 .row {
  display: flex;
  /* gap: 20px; */
}
.sec1 .col {
  width: 33.33%;
  /* border: 2px solid; */
  /* border-radius: 50%; */
}
.col .sec1-img {
  width: 60%;
  margin: 0 auto;
}
.img-contain {
  text-align: center;
  margin: 20px;
}
.img-contain .img-h3 {
  margin: 15px;
  font-size: 33px;
  text-transform: uppercase;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.img-contain .img-p {
  width: 100%;
  font-size: 25px;
  color: #f64b3c;
  font-weight: 600;
  font-family: "Nunito";
  text-align: center;
}
/* sec1 end */

/* sec2 start */
.sec2 {
  background-color: #f64b3c;
}
.sec2 .row {
  display: flex;
  align-items: center;
}
.sec2 .col {
  width: 50%;
  /* border: 2px solid; */
}
.sec2 .col .sec2-img {
  width: 60%;
  margin: 20% auto;
}

.sec2-contain .sec2-h1 {
  /* font-size: 75px; */
  font-size: clamp(20px,5.7vw,75px);
  margin: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
}
.sec2-contain .sec2-p {
  width: 70%;
  margin: 25px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
}
.sec2-contain .sec2-btn {
  width: 322px;
  border: none;
  margin: 20px;
  padding: 10px;
  border-radius: 32px;
  background-color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
/* sec2 end */

/* sec3 start */
.sec3 {
  background-color: #f6eedf;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.sec3::after {
  position: absolute;
  top: 0;
  left: 0;
  content: url(./images/Design\\(4\).png);
  /* content: url(/images/design6.jpg); */
  z-index: -1;
}
.sec3 .row {
  display: flex;
  align-items: center;
  margin: 0 70px;
  /* border: 2px solid; */
}
.sec3 .col {
  width: 50%;
  /* border: 2px solid; */
}
.sec3 .col .sec3-img {
  width: 70%;
  margin: 20% auto;
}
.sec3-contain {
  color: #f64b3c;
}
.sec3-contain .sec3-h1 {
  font-size: 75px;
  margin: 20px;
  font-weight: 700;
  font-family: "Archivo";
}
.sec3-contain .sec3-p {
  width: 75%;
  margin: 25px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Nunito";
}
.sec3-contain .sec3-btn {
  width: 322px;
  border: none;
  margin: 20px;
  padding: 10px;
  border-radius: 32px;
  background-color: #f64b3c;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
/* sec3 end */

/* sec4 start */
.sec4 {
  background-color: #f64b3c;
  padding-bottom: 9%;
  position: relative;
}
.sec4-contain {
  color: #ffffff;
  text-align: center;
  padding: 50px;
}
.sec4-contain .sec4-h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Archivo";
  padding: 30px 0;
}
.sec4-contain .sec4-p {
  width: 50%;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 400;
  font-family: "Montserrat";
}
.sec4 .row {
  display: flex;
  justify-content: space-evenly;
  /* gap: 50px; */
  /* border: 2px solid; */
}
.sec4 .col {
  text-align: center;
  align-items: center;
  width: 25.25%;
  border: 4px solid#fff;
  border-radius: 50%;
  padding: 8rem;
}
.sec4 .col .r1-h1 {
  font-size: 102px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.sec4 .col .r1-p {
  width: 100%;
  font-size: 33px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
/* sec4 end */

/* sec5 start */
.sec5 {
  background-color: #f6eedf;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
}
.sec5::after {
  content: url(./images/Design\\(6\).png);
  position: absolute;
  top: 0;
  left: 0;
}
.sec5-contain {
  text-align: center;
  padding: 70px;
  /* padding-bottom: 50px; */
}
.sec5-contain .sec5-h1 {
  font-size: 75px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.sec5 .row {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* margin: 70px; */
  padding: 20px;
}
.sec5 .col {
  width: 20.2%;
  /* border: 2px solid; */
  /* border-radius: 10px; */
}
.sec5 .col .card-contain {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.sec5 .col .card-contain .card-h4 {
  font-size: 33px;
  margin: 10px;
  text-transform: uppercase;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.card-contain .icon {
  padding: 10px;
}
.card-contain .card-h5 {
  font-size: 33px;
  margin: 10px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.card-contain .card-p {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  color: #f64b3c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.card-contain .card-btn {
  margin: 20px;
  font-size: 23px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 29px;
  background-color: #f64b3c;
  border: none;
}
/* sec5 end
/* sec6 start */
.sec6 {
  background-image: linear-gradient(
      rgba(246, 75, 60, 0.6),
      rgba(246, 75, 60, 0.6)
    ),
    url(../images/sec6\ img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80px;
}
.sec6 .sec6-contain {
  color: #fff;
  padding: 80px;
}
.sec6-p {
  padding: 70px;
  margin: 70px;
  width: 70%;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.sec6-h2 {
  padding-bottom: 70px;
  font-size: 45px;
  font-weight: 400;
  font-family: "Calistoga";
  text-align: center;
}
/* sec6 end */

/* sec7-start */
.sec7 {
  background-color: #f6eedf;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
.sec7::after {
  content: url(./images/Design\\(7\).png);
  position: absolute;
  top: 0;
  left: 0;
}
.sec7-contain {
  color: #f64b3c;
  padding: 70px;
  margin: 60px;
}
.sec7-contain .sec7-h1 {
  font-size: 75px;
  margin: 30px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.sec7-contain .sec7-p {
  width: 55%;
  margin: 0 auto;
  font-size: 30px;
  color: #f64b3c;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}
.main-search {
  padding: 50px 20px;
  display: flex;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.main-search .input-search {
  width: 90%;
  /* border: 2px solid; */
}
.main-search .input-search input {
  opacity: 0.502;
  font-size: 25px;
  color: #835e3f;
  font-weight: 400;
  font-family: "Nunito";
  width: 100%;
  padding: 18px;
  border-radius: 20px 20px 20px 20px;
  border: none;
}
.main-search .button button {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  padding: 18px;
  /* width: 100%; */
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  right: 20px;
  top: 48px;
  background-color: #f64b3c;
}
/* sec7-end */

/* footer start */
.foot {
  background-color: #222222;
}
.foot .row {
  display: flex;
  /* border: 2px solid ; */
}
.foot .row .col-40 {
  width: 40%;
  /* border: 2px solid; */
}
.foot .foot-col-40-contain{
  padding: 30px;
  margin: 70px;

}
.foot .col-40 .foot-h4 {
  margin: 10px;
  font-size: 31px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
}
.foot .col-40 .foot-p {
  width: 95%;
  margin: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
}
.foot .col-40 .icon {
  color: #fff;
  font-size: 35px;
  padding: 10px;
}
.foot .row .col-60 {
  width: 60%;
  /* border: 2px solid; */
}
.foot .row .col-60 .col {
  width: 33.33%;
  padding: 30px;
  margin: 50px; 
  /* border: 2px solid; */
}
.foot .row .col-60 .col .foot-ul .foot-li:first-child {
  font-size: 30px;
  /* align-items: center; */
}
.foot .row .col-60 .col .foot-ul .foot-li {
  /* text-align: center; */
  margin: 10px;
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito";
}
.foot .row .col-60 .col .foot-ul a {
  text-decoration: none;
  color: #ffffff;
}

/* footer end */
